* {
    margin: 0px;
    padding: 0px;
    position: relative;
/*    border: 1px solid #FFFFFF;*/
}

body {
	background-color: #222222;
	font-family: 'Lato';
	color: #D0D0D0;
}

#title, #intro-box, #map-box {
    width: 80%;
    margin: auto;
    min-width: 800px;
    height: initial;
    text-align: center;
    padding: 30px 0px;
}

#title p {
	font-size: 30px;
	background: -webkit-linear-gradient(#E8DE60, #A4E482, #4A8AA1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro {
	display: inline-block;
	font-size: 0px;
	height: initial;
	vertical-align: top;
	text-align: left;
	line-height: 1.4;
}

#intro-text {
    width: 59%;
    min-width: 400px;
    font-size: initial;
}

#intro-legend {
	width: 20%;
	min-width: 150px;
	font-size: initial;
}

.source {
	color: #666666;
}

/*Control Views*/

#view-btns {
	width: 100%;
	text-align: center;
	font-size: 0px;
}

.view-btn {
	display: inline-block;
	font-size: initial;
	padding: 1px 15px;
}

.view-btn:hover {
	cursor: pointer;
}

.view-selected {
	background-color: rgba(255,255,255,0.5);
	color: #222222;
}


/* Map */

#btn {
	position: absolute;
	padding: 5px;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	color: #D0D0D0;
	font-size: 16px;
	cursor: pointer;
	border-bottom: 1px solid #D3D3D3;
}

#btn:hover {
	border-bottom: 3px solid #D3D3D3;
}

#map-box {
	width: 80%;
	margin: auto;
	min-width: 800px;
}

#map {
	width: 100%;
	height: 100%;
}

.state-abb {
	font-family: 'Roboto';
	font-size: 17px;
	fill: #FFFFFF;
	text-anchor: middle;
}


/* Tooltip */

#tooltip {
    position: absolute;
    text-align: left;
    padding: 10px 10px;
    line-height: 1.8;
    visibility: hidden;
    background-color: #FFFFFF;
    color: #000000;
    opacity: 0.95;
    width: 150px;
    font-family: 'Roboto';
    border-left: 8px solid #FD8A9E;
}

#tooltip-state {
	color: #555555;
}

circle.mean {
	stroke-dasharray: '5 5';
}


